{{!
This file is part of pa11y-dashboard.

pa11y-dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

pa11y-dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with pa11y-dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}

<script>

	$("tr.row").on("click", function (event) {
		//console.log("row click");

		// don't fire event if options drop-down was clicked
		if (!event.originalEvent.dropdown) {
			window.document.location = $(this).attr("task");
		}
	});

	$("button.btn").on("click", function (event) {
		//console.log("button click");
		event.originalEvent.dropdown = true;

	});

</script>

<style>
	.button {
		color: #696969;
		padding-right: 5px;
		cursor: pointer;
		float:left;
	}
	.fa {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		transform: translate(0, 0);
	}
</style>

<ul class="list-unstyled clearfix crunch-bottom">
	<table id="searchable-table" name="searchable-table" class="searchable-table" style="width:100%">
		<thead><!--
			<tr>
				<th onclick="sort_table(tasks, 0, asc1, event); asc1 *= -1; asc2 = 1; asc3 = 1; asc4 = 1; asc5 = 1; asc6 = 1;" class="unsorted" style="width:30%;">Page</th>
				<th onclick="sort_table(tasks, 1, asc2, event); asc2 *= -1; asc3 = 1; asc4 = 1; asc5 = 1; asc6 = 1; asc1 = 1;" class="unsorted" style="width:17%;">Grade</th>
				<th onclick="sort_table(tasks, 2, asc3, event); asc3 *= -1; asc4 = 1; asc5 = 1; asc6 = 1; asc1 = 1; asc2 = 1;" class="unsorted" style="width:7%;">Error</th>
				<th onclick="sort_table(tasks, 3, asc4, event); asc4 *= -1; asc5 = 1; asc6 = 1; asc1 = 1; asc2 = 1; asc3 = 1;" class="unsorted" style="width:7%;">Warn</th>
				<th onclick="sort_table(tasks, 4, asc5, event); asc5 *= -1; asc6 = 1; asc1 = 1; asc2 = 1; asc3 = 1; asc4 = 1;" class="unsorted" style="width:7%;">Info</th>
				<th onclick="sort_table(tasks, 5, asc6, event); asc6 *= -1; asc1 = 1; asc2 = 1; asc3 = 1; asc4 = 1; asc5 = 1;" class="unsorted"  style="width:15%;">Last Run</th>
				<th style="width:17%"></th>
			</tr>-->
			<tr>
				<th class="unsorted" style="width:30%;"><a href="/client/{{client}}/sort/name">Page</a></th>
				<th style="width:17%;">Grade</th>
				<th style="width:7%;"><a href="/client/{{client}}/sort/error">Error</a></th>
				<th style="width:7%;"><a href="/client/{{client}}/sort/warning">Warn</a></th>
				<th style="width:7%;"><a href="/client/{{client}}/sort/notice">Info</a></th>
				<th style="width:7%;">Last Run</th>
				<th style="width:17%"></th>
			</tr>
		</thead>
		<tbody id="tasks">

			{{#each tasks}}

				<tr task="{{href}}" class="row" data-test="task" data-role="task" data-keywords="{{lowercase name}} {{lowercase standard}} {{simplify-url url}}" >

					<td style=""><a class="" title="Details for URL {{simplify-url url}}" href="{{href}}">{{name}}</a></td>
					<td style=""><a class="" title="Details for URL {{simplify-url url}}" href="{{href}}">{{standard}}</a></td>
					{{#if lastResult}}
					{{#lastResult}}
					<td style="" class="danger scores">{{count.error}}</td>
					<td style="" class="warning scores">{{count.warning}}</td>
					<td style="" class="info last scores">{{count.notice}}</td>
					{{/lastResult}}
					<td style="">{{date-format lastResult.date format="DD MMM YYYY"}}</td>
					{{else}}
					<td style="color: lightgray;">No results</td>
					<td style="color: lightgray;">No results</td>
					<td style="color: lightgray;">No results</td>
					<td style="color: lightgray;">Not run</td>
					{{/if}}

					{{#unless ../readonly}}
						<td>
							<div class="btn-group" role="group">
								<div class="button">
									<a class="btn btn-default" href="{{href}}/edit">
										<i class="fa fa-pencil" aria-hidden="true" title="Edit Task"></i>
										<span class="sr-only">Edit Task</span>
									</a>
								</div>
								<div class="button">
									<a class="btn btn-default" href="{{href}}/run">
										<i class="fa fa-play-circle" aria-hidden="true" title="Run Task"></i>
										<span class="sr-only">Run Task</span>
									</a>
								</div>
								<div class="button">
									<a class="btn btn-default" href="{{href}}/delete">
										<i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
										<span class="sr-only">Delete</span>
									</a>
								</div>
							</div>
						</td>
					{{/unless}}
				</tr>
			{{/each}}
		</tbody>
	</table>
</ul>

<script>
	//console.log("{{alltasks.length}}");
</script>