{{!
This file is part of pa11y-dashboard.

pa11y-dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

pa11y-dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with pa11y-dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}
<!DOCTYPE html>
<html lang="{{lang}}" class="no-javascript">
<head>
	<meta charset="utf-8"/>
	<title>{{block "title"}}</title>
	<meta name="description" content="{{block "description"}}"/>

	{{#if noindex}}<meta name="robots" content="noindex"/>{{/if}}

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="icon" type="image/png" href="favicon.png" />

	<!-- For mobile devices. -->
	<meta name="viewport" content="width=device-width"/>

	<!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700,900,400italic"/>-->
	<link rel="stylesheet" href="/css/css">
	<link rel="stylesheet" href="/css/site.min.css?v={{version}}"/>
	<link rel="stylesheet" href="/js/vendor/datatables/media/css/jquery.dataTables.min.css"/>

	<script type="text/javascript" src="/js/vendor/jquery/jquery.min.js"></script>
	<script>
		document.documentElement.className = document.documentElement.className.replace('no-javascript', 'javascript');
	</script>

	<script>

		var stIsIE = /*@cc_on!@*/false, table, asc1 = 1,asc2 = 1,asc3 = 1,asc4 = 1,asc5 = 1,asc6 = 1,sorthtml = "",sortable_class = "";

		window.onload = function () {
			table = document.getElementById("tasks");
		}

		function sort_table(tbody, col, asc, e) {
			console.log("tbody: " + tbody, "col: " + col, "asc: " + asc);

			sortable_class = e.srcElement.className;
			console.log(sortable_class);

			// If table hasn't been sorted before change class to 'sorted'
			if (sortable_class === "unsorted") {
				sortable_class = sortable_class.replace('unsorted', 'sorted');
			}

			// Sort Ascending
			if (asc === 1) {
				console.log("Sorting Ascending");
				sortable_class = sortable_class.replace('sorted', 'reverse-sorted');
				sorthtml = document.createElement('span');
				sorthtml.className = "sortasc";
				sorthtml.id = "sortasc";
				sorthtml.innerHTML = stIsIE ? '&nbsp<font face="webdings">6</font>' : '&nbsp;&#x25BE;';
				// remove 'sortdesc' class if exists
				$(".sortdesc").remove();

			// sort descending
			} else {
				console.log("Sorting Descending");
				sortable_class = sortable_class.replace('reverse-sorted', 'sorted');
				sorthtml = document.createElement('span');
				sorthtml.className = "sortdesc";
				sorthtml.id = "sortdesc";
				sorthtml.innerHTML = stIsIE ? '&nbsp<font face="webdings">5</font>' : '&nbsp;&#x25B4;';
				// remove 'sortasc' class if exists
				$(".sortasc").remove();
			}

			// add classname to heading element
			e.srcElement.className = sortable_class;
			//$(e.srcElement).appendChild(sorthtml);

			// append sort arrow to html
			if (sorthtml) {
				console.log("sorthtml: " + sorthtml);
				$(e.srcElement).append(sorthtml);
			}

			var rows = tbody.rows,
					rlen = rows.length,
					arr = new Array(),
					i, j, cells, clen;
			// fill the array with values from the table
			for (i = 0; i < rlen; i++) {
				cells = rows[i].cells;

				clen = cells.length;
				arr[i] = new Array();
				for (j = 0; j < clen; j++) {
					arr[i][j] = cells[j].outerHTML;
					//console.log("arr["+i+"]: " + cells[j].outerHTML);
				}
			}
			// sort the array by the specified column number (col) and order (asc)
			parser=new DOMParser();

	/*		if (col === 0 || col === 1 ) {

					arr.sort(function (a, b) {
						console.log(parser.parseFromString(a[col], "text/html").getElementsByTagName('a')[0].innerHTML);
						return (parser.parseFromString(a[col], "text/html").getElementsByTagName('a')[0].innerHTML == parser.parseFromString(b[col], "text/html").getElementsByTagName('a')[0].innerHTML) ? 0 : ((parser.parseFromString(a[col], "text/html").getElementsByTagName('a')[0].innerHTML > parser.parseFromString(b[col], "text/html").getElementsByTagName('a')[0].innerHTML) ? asc : -1 * asc);
					});

			} else if (col === 5) {
				arr.sort(function (a, b) {
					console.log(parser.parseFromString(a[col], "text/html").getElementsByTagName('body')[0].innerHTML);
					return (parser.parseFromString(a[col], "text/html").getElementsByTagName('body')[0].innerHTML == parser.parseFromString(b[col], "text/html").getElementsByTagName('body')[0].innerHTML) ? 0 : ((parser.parseFromString(a[col], "text/html").getElementsByTagName('a')[0].innerHTML > parser.parseFromString(b[col], "text/html").getElementsByTagName('body')[0].innerHTML) ? asc : -1 * asc);
				});
			} else {

				if (asc === 1) {
					//console.log("ascending sort algorithm");
					arr.sort(function(a,b){
						return parser.parseFromString(a[col], "text/html").getElementsByTagName('body')[0].innerHTML - parser.parseFromString(b[col], "text/html").getElementsByTagName('body')[0].innerHTML;
					});
				} else {
					//console.log("descending sort algorithm");
					arr.sort(function(a,b){
						return parser.parseFromString(b[col], "text/html").getElementsByTagName('body')[0].innerHTML - parser.parseFromString(a[col], "text/html").getElementsByTagName('body')[0].innerHTML;
					});
				}
			}*/


			arr.sort(function (a, b) {

				if (col === 0 || col === 1) {
					//return (a[col] == b[col]) ? 0 : ((a[col] > b[col]) ? asc : -1 * asc);
					return (parser.parseFromString(a[col], "text/html").getElementsByTagName('a')[0].innerHTML == parser.parseFromString(b[col], "text/html").getElementsByTagName('a')[0].innerHTML) ? 0 : ((parser.parseFromString(a[col], "text/html").getElementsByTagName('a')[0].innerHTML > parser.parseFromString(b[col], "text/html").getElementsByTagName('a')[0].innerHTML) ? asc : -1 * asc);
				} else if (col === 5) {
					return (parser.parseFromString(a[col], "text/html").getElementsByTagName('body')[0].innerHTML == parser.parseFromString(b[col], "text/html").getElementsByTagName('body')[0].innerHTML) ? 0 : ((parser.parseFromString(a[col], "text/html").getElementsByTagName('a')[0].innerHTML > parser.parseFromString(b[col], "text/html").getElementsByTagName('body')[0].innerHTML) ? asc : -1 * asc);
				} else {
					if (asc === 1) {
						//console.log("ascending sort algorithm");
						return parser.parseFromString(a[col], "text/html").getElementsByTagName('body')[0].innerHTML - parser.parseFromString(b[col], "text/html").getElementsByTagName('body')[0].innerHTML;
					} else {
						//console.log("descending sort algorithm");
						return parser.parseFromString(b[col], "text/html").getElementsByTagName('body')[0].innerHTML - parser.parseFromString(a[col], "text/html").getElementsByTagName('body')[0].innerHTML;
					}
				}
			});

			// if val equals val2 then do not nothing, else if val bigger than val2 ascending = -1

			tbody.innerHTML = makeTableHTML(arr);

			function makeTableHTML(myArray) {
				var result = "";

				for(var i=0; i<myArray.length; i++) {

					result += "<tr>";
					//console.log("<tr>");

					for(var j=0; j<myArray[i].length; j++){
						//console.log(myArray[i][j]);
						result += myArray[i][j];
					}

					//console.log("</tr>");
					result += "</tr>";
				}

				return result;
			}


		}
	</script>
	<style type="text/css">
		/*
		table {
			border-collapse: collapse;
			border: none;
		}
		th,
		td {
			border: 1px solid black;
			padding: 4px 16px;
			font-family: Times New Roman;
			font-size: 24px;
			text-align: left;
		}
		th {
			background-color: #C8C8C8;
			cursor: pointer;
		}*/

		th:hover {

		}
	</style>
</head>
<!--[if IE 7]><body class="ie7"><![endif]-->
<!--[if IE 8]><body class="ie8"><![endif]-->
<!--[if IE 9]><body class="ie9"><![endif]-->
<!--[if !IE]>-->
<body>
<!--<![endif]-->

<script>
	window.TextEncoder = window.TextDecoder = null;

	window.onload = function() {
		// post our message to the parent
		window.parent.postMessage(
				// get height of the content
				document.body.scrollHeight
				// set target domain
				,"*"
		)
		console.log("Scroll height: " + document.body.scrollHeight);
	};
</script>

	{{> page-header}}

	{{> breadcrumb}}

	<div class="container">
		{{#if readonly}}
			<div class="row readonly-mode">
		{{else}}
			<div class="row">
		{{/if}}
			<section>
				<div class="section col-lg-12" role="main">
					{{{body}}}
				</div>
			</section>
		</div>

	</div>

	<!--{{> page-footer}}-->

	<script type="text/javascript" src="/js/site.min.js?v={{version}}"></script>
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/js/vendor/flot/excanvas.min.js"></script><![endif]-->

</body>
</html>
