{{!
This file is part of pa11y-dashboard.

pa11y-dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

pa11y-dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with pa11y-dashboard.  If not, see <http://www.gnu.org/licenses/>.
}}
{{#content "title"}}pa11y-dashboard{{/content}}

<div data-control="task-list">

  <div class="clearfix">
      <div style="float:left;font-weight:bold">Tasks {{skip}} - {{forward skip}}</div>
    <div class="col-md-6 col-md-offset-3 filter no-js-hide text-center">

        <div class="" style="display: inline-block;width: 515px;text-align: center;vertical-align: super;">
            {{#if readonly}}
            <a class="btn btn-default" href="#">
                <i class="fa fa-plus fa"></i> Add Task
            </a>
            {{else}}
            {{#if tasks.0.client}}
            <a class="btn btn-default" data-role="add-task" href="/{{tasks.0.client}}/new" data-test="add-task">
                <i class="fa fa-plus fa"></i> Add Task
             </a>
             {{else}}
             <a class="btn btn-default" data-role="add-task" href="/{{client}}/new" data-test="add-task">
                 <i class="fa fa-plus fa"></i> Add Task
             </a>
             {{/if}}
             {{/if}}
            <a class="btn btn-default" href="#" for="filter-input" data-toggle="collapse" data-target="#filter-input">
                <i class="fa fa-search fa"></i> Filter
            </a>
            <form id="search" action="">
                <div id="filter-input" class="collapse filter-input">
                    <!--<input class="form-control" id="task-filter" type="text" data-role="input" placeholder="Type filter term (name or standard)" />-->
                    <input class="form-control search" id="filter" type="text" placeholder="Type filter term (name)" />
                    <input type="button" id="btnSearch" class="btn btn-search" value="search" />
                    <a class="clear-filter" href="/client/{{client}}">Clear filter</a>
                </div>
                <div><p id="error" style="color:red; display: none; float: left; clear:both">Filter cannot be blank, please enter filter term</p></div>
            </form>
            <script type="text/javascript">
                $(document).ready(function () {
                    var filter = function () {
                        var text= document.getElementById('filter').value;
                        if (text != "") {
                            var client = '{{client}}';
                            client = client.toLowerCase();
                            var url = encodeURI('/client/' + client + '/filter/' + text);
                            location.href=url;
                        } else {
                            document.getElementById('error').style.display = 'block';
                            document.getElementById('filter').style.borderColor = 'red';
                        }
                    };

                    $('input[type=button]').click(function() {
                        filter();
                    });

                    $('input[type=text]').on('keydown', function(e) {
                        if (e.which == 13) {
                            e.preventDefault();
                            filter();
                        }
                    });
                });


            </script>
         </div>
     </div>
   </div>

   {{#if siteMessage}}
       <div class="col-md-12 clearfix" data-test="alert">
           <div class="alert alert-info site-message">
               <h3 class="crunch-top"><span class="pull-left glyphicon glyphicon-exclamation-sign"></span> Important</h3>
               <p class="h5">{{siteMessage}}</p>
           </div>
       </div>
   {{/if}}

   {{#deleted}}
       <div class="col-md-12 clearfix" data-test="alert">
           <div class="alert alert-info">
               <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
               <strong>Bye Bye URL</strong>
               <p>The URL you selected and its associated results have been deleted.</p>
           </div>
       </div>
   {{/deleted}}

   {{> tasks}}
    <span style="margin: 0 auto;padding: 20px;width: auto;border: 1px #f1efef solid;margin-top: 20px;display: table;">
    {{#if loadPrevious}}
    <a href="/client/{{client}}/results/{{back skip}}" class="btn btn-default" style="margin-right: 5px;">Back</a>
    {{/if}}
    {{#if loadMore}}
    <a href="/client/{{client}}/results/{{forward skip}}" class="btn btn-default">Load Next</a>
    {{/if}}
    </span>
 </div>
